*{
    scroll-behavior:smooth;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Quincy";
    src: url(QuincyCF-Black.otf);
}

@font-face {
    font-family: "Holgada";
    src: url(Holgada_Bold.otf);
}

h1, h2{
    font-family: Holgada;
}

h3, h4{
    font-family: Quincy;
}

header section{
    background: #0d143a;
    height: 100%;
}

body{
    background: #0d143a;
    min-height: 1500px;
}

.home
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.home::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height:100px;
    background: linear-gradient(to top, #0d143a, transparent);
    z-index: 3;
}

.home img,
.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

#text{
    position: relative;
    color: white;
    font-size: 7em;
    z-index: 1;
}

#road{
    z-index: 2;
}

.menu{
    position:fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background: rgb(57, 54, 80) url(menu.png); 
    z-index: 10;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.menu.active{
    background: rgb(57, 54, 80) url(close.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    transition: 0.2s;
}

.sidebar{
    position: fixed;
    background: rgb(33, 31, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 9;
    top: -100%;
}

.sidebar.active{
    top: 0;
}

.sidebar .infomenu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar .infomenu li {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar .infomenu li a {
    color: white;
    text-decoration: none;
    font-size: 3em;
    font-family: Holgada;
    margin: 10px;
    text-transform: uppercase;
}

.sidebar .infomenu li a:hover{
    color: aqua;
}

.expPro{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.expPro .exp{
    z-index: 2;
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:center;
    top: 0;
    left: 0;
}

.expPro .exp h1{
    margin-top: 15px;
    position: relative;
    font-size: 3em;
    color: white;
}

.expPro .exp h1::after{
    position: relative;
    background: white;
    display: block;
    content: '';
    height: 5px;
    width: 110%;
    left: -5%;
    margin: auto;
    margin-top: 10px;
}

.expPro .exp h1::before{
    position: relative;
    background: #003864;
    display: block;
    content: '';
    height: 5px;
    width: 200%;
    left: -50%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 0;
}

.expPro::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(17% at right 65%);
}

.expPro::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(10% at 20% 25%);
}

.expPro .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-wrap: wrap;
    max-width: 1200px;
}

.expPro .container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.expPro .container .card .content{
    color: white;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.expPro .container .card .content .contentInfo{
    color: rgb(155, 155, 155);
    position: absolute;
    margin: 10px;
    letter-spacing: 1px;
    bottom: -160px;
    transition: bottom 0.5s;
}

.expPro .container .card:hover .content .contentInfo{
    bottom: 100px;
}

.education{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    overflow: hidden;
}

.education header{
    z-index: 2;
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:center;
    top: 0;
    left: 0;
}

.education header h1{
    color:#0D143A;
    font-size: 3em;
    margin-top: 15px;
}

.education header h1::after{
    position: relative;
    background: #0D143A;
    display: block;
    content: '';
    height: 5px;
    width: 120%;
    left: -10%;
    margin: auto;
    margin-top: 10px;
}

.education .image{
    position: absolute;
    width: 65%;
    height: 100%;
    left: 0;
    top: 0;
}

.education .image img{
    width: 100%;
    height: 100%;
}

.education .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-wrap: wrap;
    max-width: 1200px;
}

.education .container .card{
    position: relative;
    width: 750px;
    height: 100px;
    margin: 30px;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education .container .card .content{
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.education .container .card .content header{
    justify-content: flex-end;
    position: absolute;
    display: grid;
    width: 100%;
}

.education .container .card .content header h2{
    margin-right: 50px;
    padding-top: 5px;
}

.education .container .card .content header h3{
    padding-top: 70px;
    position: absolute;
    right: 30px;
    color: rgb(155, 155, 155);
}

.education .container .card .content .uni h2{
    margin-right: 50px;
    padding-top: 5px;
}

.education .container .card .content .uni h3{
    padding-top: 70px;
    position: absolute;
    right: 30px;
    color: rgb(155, 155, 155);
}

.education .container .card .content .art h2{
    margin-right: 25px;
    padding-top: 5px;
}

.education .container .card .content .art h3{
    padding-top: 70px;
    position: absolute;
    right: 55px;
    color: rgb(155, 155, 155);
}

.education .container .card .content .contentInfo{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    left: -73%;
    height: 100%;
    width: 70%;
    position: absolute;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    letter-spacing: 1px;
    transition: left 0.7s;
}

.education .container .card:hover .content .contentInfo{
    left: -10px;
    transition: 0.7s;
}

.education .container .card .content .contentInfo h3{
    color:#0D143A;
    font-weight:bold;
}

.education .container .card .content .contentInfo h4{
    color:#0D143A;
    font-weight:300px;
}

.projects{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    overflow: hidden;
}

.projects header{
    z-index: 2;
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:center;
    top: 0;
    left: 0;
}

.projects header h1{
    color:white;
    font-size: 3em;
    margin-top: 15px;
}

.projects header h1::after{
    position: relative;
    background: white;
    display: block;
    content: '';
    height: 5px;
    width: 120%;
    left: -10%;
    margin: auto;
    margin-top: 10px;
}

.projects .containerC{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.projects .containerC .cards{
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    transform-style: preserve-3d;
    perspective: 500px;
    transition: 1s;
    cursor: pointer;
}

.projects .containerC .cards.one{
   top: 15%;
   left: 20%;
}

.projects .containerC .cards.two{
    top: 15%;
    left: 70%;
}

.projects .containerC .cards.three{
    top: 60%;
    left: 70%;
}

.projects .containerC .cards.four{
    top: 60%;
    left: 20%;
}

.projects .containerC .cards.five{
    top: 60%;
    left: 45%;
}

.projects .containerC .cards.six{
    top: 15%;
    left: 45%;
}

.projects .containerC .cards .face{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: #676595;
    backdrop-filter: blur(15px);
    transform-style: preserve-3d;
    transition: all 1s;
}

.projects .containerC .cards .face h2{
    color: white;
    font-size: 20px;
}

.projects .containerC .cards .face h3{
    color: white;
    font-size: 25px;
}

.projects .containerC .cards.active .face.front{
    transform: rotateY(180deg) ;
}

.projects .containerC .cards .face.back{
    transform: rotateY(180deg);    
}

.projects .containerC .cards .face.back h2,
.projects .containerC .cards .face.back h3{
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
    padding: 20px;
}

.projects .containerC .cards.active .face.back h2,
.projects .containerC .cards.active .face.back h3{
    visibility: visible;
    opacity: 1;
    transition: 0.5s cubic-bezier(1,0,1,1);

}

.projects .containerC .cards.active .face.back{
    transform: rotateY(360deg);
}

.projects .containerC .cards.active{
    margin: auto;
    transform-style: preserve-3d;
    transition: all 1s;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    height: 35vw;
    width: 35vw;
    z-index: 2;
}

.hobbies{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items:center;
    text-align: center;
    display: flex;
    position: relative;
    overflow: hidden;
}

.hobbies header{
    z-index: 2;
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    left: 0;
}

.hobbies header h1{
    color: white;
    font-size: 3em;
    margin-top: 15px;
    margin-right: 25%;
}

.hobbies video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hobbies .containerG{
    position: absolute;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.02);
    top: 0;
    left: -35%;
    width: 40%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 1;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.3);
    transition: 1s;
}

.hobbies .containerG.active{
    left: 0;
}


.hobbies .containerG .icon{
    width: 10%;
    height: 100%;
    position: absolute;
    align-items: center;
    display: flex;
    right: 0;
    top: 0;
}

.hobbies .containerG .icon section{
    width: 100%;
    height: 55px;
    color: white;
    background-repeat: no-repeat;
    font-size: 40px;
    cursor: pointer;
    transition: 1s;
}

.hobbies .containerG.active .icon section{

    transform:rotate(180deg);
    transition: 1s;
}

.hobbies .containerG .info{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: grid;
}

.hobbies .containerG .info .content{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: relative;
}

.hobbies .containerG .info .content header{
    justify-content: center;
    top: auto;
    left: auto;
}

.hobbies .containerG .info .content .contentInfo{
    color: rgb(155, 155, 155);
    position: relative;
    margin: 10px;
    letter-spacing: 1px;
    margin-top: 50px;
    transition: left 0.5s;
}

.about{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items:center;
    overflow: hidden;
    position: relative;
}

.about::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#5C2959,#DF725E);
    clip-path: circle(15% at 20% 25%);
}

.about::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#A64463,#FDB159);
    clip-path: circle(13% at 30% 70%);
}

.about header{
    z-index: 2;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    top: 0;
    left: 0;
}

.about header h1{
    color:white;
    font-size: 3em;
    margin-top: 15px;
}

.about header h1::after{
    position: relative;
    background: white;
    display: block;
    content: '';
    height: 5px;
    width: 120%;
    left: -10%;
    margin: auto;
    margin-top: 10px;
}

.me{
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    width: 300px;
    height: 460px;
    margin: 10%;
    overflow: hidden;
    z-index: 2;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items:center;
    display: flex;
}

.me section{
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 70%;
}

.me section h3{
    color: black;
    font-weight: 1000;
    letter-spacing: 0.7px;
    font-size: 23px;
}

.me section h4{
    color: rgb(19, 19, 19);
    font-size: 17px;
}

.me img{
    /*height: width;*/
    width: 55%;
    top: 20%;
    position: absolute;
    border-radius: 50%;
    margin: auto;
    transform: translateY(100px);
    transition: 0.5s;
    opacity: 0;
}

.me:hover img{
    transform: translateY(0px);
    opacity: 1;
}

.info{
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

.info ul {
    height: 70%;
    position: relative;
    justify-content: center;
    align-items:center;
    display:grid;
    list-style-type: none;
}

.info .text h4 {
    letter-spacing: 0.7px;
    color: #F9F8FF;
    font-size: 30px;
    margin-left: 20px;
    text-align:left;
}

.info ul li{
    position: relative;
    list-style: none;
    cursor:pointer;
}

.info ul li::before{
    font-family: fontAwesome;
    position:absolute;
    top: -2.5px;
    left: 0;
    font-size: 60px;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.info ul li:nth-child(1):before{
    content: '\f064';
    color: blue;
    border-bottom: 4px solid blue;
}

.info ul li:nth-child(2):before{
    content: '\f095';
    color: green;
    border-bottom: 4px solid green;
    backdrop-filter: blur(30px);
}

.info ul li:nth-child(3):before{
    content: '\f3c5';
    color: red;
    border-bottom: 4px solid red;
}

.info ul li:hover::before{
    height: 115%;
}

.info ul li a{
    text-decoration: none;
}

.info ul li a .fas{
    font-size: 60px;
    color: #464555;
}

.contact{
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#0D143A,#5C2959,#A64463,#DF725E,#FDB159,#F9F871);
}

.contact header{
    z-index: 2;
    position: relative;
    display: flex;
    align-self: flex-start;
    width: 100%;
    align-items: center;
    justify-content:center;
}

.contact header h1{
    color:white;
    font-size: 3em;
    margin-top: 15px;
}

.contact header h1::after{
    position: relative;
    background: white;
    display: block;
    content: '';
    height: 5px;
    width: 120%;
    left: -10%;
    margin: auto;
    margin-top: 10px;
}

.contact section{
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
    height: 75%;
    width: 70%;
    border-left: solid ;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    overflow: hidden;
    margin-top: 50px;
    padding: auto;
    backdrop-filter: blur(20px);
}

.contact section form{
    width: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin:auto;
}

.contact section form .fill{
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 22px;
    padding: 10px;
    font-weight: 300;
    font-family: Quincy;
    color: black;
    border-bottom: 2px solid #0D143A;
}

.contact section form .fill::placeholder{
    color:rgb(43, 43, 43);
}

.contact section form .send{
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 30px;
    font-family: Quincy;
    padding: 10px 0;
    font-weight: 300;
    color: black;
    cursor: pointer;
}

.contact section form textarea{
    resize: none;
    height: 20%;
}

#clearfix{
    clear: both;
    height: 5px;
    width: 100%;
    background-color: #A64463;
}

/*aside{
    position: relative;
    width: 50%;
    height: 100vh;
    float: right;
    background-color: yellow;
}*/